@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Work Sans", sans-serif;
    background-color: white;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.flex-container{
    display: flex;
}
a{
    text-decoration: none;
    color: rgb(139, 0, 76);
    font-weight: 500;
}
li{
    text-decoration: none;
    list-style: none;
} 
span{
    color: #BCCF00;
}
h1{
    font-size: 6em;
    font-weight: 300;
}
h2{
    font-weight: 500;
    font-size: 3em;
    font-weight: 300;
}
header{
    padding-top: 5em;
    height: 80vh;
    overflow: hidden;
}
.bg-img{
    z-index:-1;
    position: absolute;
    top: 0;
    left: 0;
    width:100vw;
    height:fit-content;
}
.strapi-blocks{
    font-size: 1.5em;
    font-weight: 500;
    width: 45%;
    margin: 1em 0;
}
.section-img-left{
    background-color: white;
    color: cadetblue;
}
.section-img-left>div{
    display: flex;
}
.section-img-left>div>div{
    width: 50%;
}
.section-img-left>div>div>h2{
    margin-left: -80px;
}
button{
    background-color: #BCCF00;
    border: none;
    color: #192E49;
    padding: 15px;
    margin: 1em 0;
}
a{
    color: #192E49;
    font-weight: 400;
}
.nav-bar{
    display: flex;
    width: 95%;
    padding: 0.7em 0;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.nav-bar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-item>a{
    margin-left: 20px;
    color: white;
}
.app-img{
    width: 100%;
}
.footer{
    background-color: #072033;
    padding: 3em 0;
}
.footer>div{
    display: flex;
    justify-content: space-between;
    
}
.footer>div>div{
    width: 20%;
}
h4{
    font-weight: 400;
}
.icon{
    width: 2em;
    margin-right: 1em;
}
.toggle-section{
    background-color: #192E49;
    padding: 2em 0;
}
hr{
    border: 1px white solid;
    opacity: 0.3;
    width: 70%;
}
.smol-container{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}
.smol-container>a{
    color: rgba(255, 255, 255, 0.568);
    font-size: 2em;
}
.toggle-section>div>.strapi-blocks{
    font-size: 1em;
    font-weight: 300;
    width: 70%;
}
.smol-container>a:hover{
    cursor: pointer;
}
.block{
    padding: 2em;
    background-color: white;
}
.block>p{
    color:#072033 !important;
}
.img-logo{
    width: 10em;
    margin-bottom: 1em;
}
.section-blocks{
    background-color: #192E49;
    padding: 3em 0;
}
.section-blocks>div{
    display: flex;
    justify-content: space-between;
}
.block{
    width: 25%;
}
